body {
  color: #012d55;
  background: #F6F7FC;
  font-family: 'Roboto', sans-serif;
}
.ant-page-header {
  padding-left: 0;
  padding-right: 0;
}

.ant-card {
  border-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 3%);
}

.ant-modal-content {
  border-radius: 16px;
}

.ant-modal-header {
  border-radius: 16px 16px 0 0;
}

.ant-form-item:last-of-type {
  margin-bottom: 0;
}

.ant-form-item-explain {
  padding-top: 2px;
}

.ant-form-item-explain-error {
  font-size: 12px;
}

.ant-input,
.ant-btn,
.ant-input-affix-wrapper,
.ant-input-number-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}

.ant-table-tbody .ant-table-row:last-child .ant-table-cell {
  border-bottom: none;
}